#logo{
    top:0px;
    left:60px;
    position:fixed;
}


.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
    overflow-y: scroll;
    overflow-x:hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

#nav{
    
    background-color: hsl(110, 56%, 24%) ;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    box-shadow: 0px 3px 25px #003300;
    /* background-color: hsl(110, 56%, 24%) !important;
     
 background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c972a", endColorstr="#265f1a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3c972a), to(#265f1a));
  background-image: -moz-linear-gradient(top, #3c972a, #265f1a);
  background-image: -ms-linear-gradient(top, #3c972a, #265f1a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c972a), color-stop(100%, #265f1a));
  background-image: -webkit-linear-gradient(top, #3c972a, #265f1a);
  background-image: -o-linear-gradient(top, #3c972a, #265f1a);
  background-image: linear-gradient(#3c972a, #265f1a);
  border-color: #265f1a #265f1a hsl(110, 56%, 20.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;*/
}

.navbar {
        max-height: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}



.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:800px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url() no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.container{
    width:90%;
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url() no-repeat center center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

 #logform #logform2{
    display: none;
     left:-9999px;
    top:-9999px;
 }

#myModal{
    top: 50px;
}

#myModal2{
    top: 50px;
}

#mybtn #mybtn2{
    display: none;
    left:-9999px;
    top:-9999px;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 88%;
}

.carousel-control{
   width: 5%;
   padding-top: 25%;
   height: 50%;
   background-image:none;
}

#home{
    padding-top: 50px;
}

#carousel{
    height: 70%;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}
.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;
}
.carousel-control {
  padding-top:7.25%;
  width:5%;
}

area {
  display: block;
  cursor: pointer;
}

#squadtext{
    max-width:45%;
    padding-top:20px;
    padding-right:20%;
    text-align:left;
    float:right;
}

.squadimage{
    box-shadow: 5px 5px 10px #003d00;
}

.scrollup {
  bottom: 5%;
  right:2%;
  position: fixed;
  display:none;
  background: url('icon_top.png') no-repeat;
}

#strip{
    z-index: -1;
}

.imgspan{
    min-width: 1000px;
     max-width: 1000px;
}

#icon1{
margin-left: -106px;
padding-right: 0px;
padding-top: 106px;
cursor: pointer;
}

#icon2{
padding-left: 10px;
padding-right: 58px;
padding-top: 106px;
cursor: pointer;
}

#icon3{
padding-left: 27px;
padding-top: 103px;
margin-right: -79px;
cursor: pointer;
}

#icon4{
margin-left: -92px;
padding-right: 75px;
margin-bottom: 107px;
cursor: pointer;
}

#icon5{
padding-left: 17px;
padding-right: 58px;
margin-bottom: 126px;
cursor: pointer;
}

#icon6{
padding-left: 28px;
margin-bottom: 127px;
margin-right: -79px;
cursor: pointer;
}

#strip{
    margin-left: 0px;
    margin-top:0px;
}

.transition {
    -webkit-transform: scale(1.15); 
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
#icon1 #icon2 #icon3 #icon4 #icon5 #icon6{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

#imgtext{
    margin-top: -140px;
    margin-left: -100px;
}

#imgtext2{
   margin-bottom: -90px;
   padding-top: -50px;
}

#imgtext3{
    margin-top: -27px;
}

